* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #616161;
}
.my-form {
  width: 400px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.my-form__input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 1px solid #616161;
}
.my-form__input {
  outline-color: grey;
}
.my-form__input:required {
  outline-color: lightgreen;
}
.my-form__input.error:required {
  border-color: red;
  outline-color: red;
}
.message-error {
  max-width: 100%;
  padding: 5px 10px;
  color: red;
  border-color: red;
  text-align: center;
}